PORT=8080
ENV=development

DATABASE_URL=postgres://user:password@localhost:5432/earnsaga?sslmode=disable
REDIS_URL=redis://localhost:6379

JWT_SECRET=replace-with-a-long-random-string

GOOGLE_CLIENT_ID=your-google-oauth-client-id.apps.googleusercontent.com

PUBSCALE_APP_ID=38002658
PUBSCALE_PUB_KEY=C423E0560E41A9EF42876CC684CB1F74
PUBSCALE_SECRET_KEY=get-this-from-pubscale-dashboard-s2s-config
